palette.png RESOURCE "assets/palette.png"
NeoSans.png RESOURCE "assets/NeoSans.png"
cave.png RESOURCE "assets/cave.png"
coco.png RESOURCE "assets/coco.png"
hiro2.mod RESOURCE "assets/hiro2.mod"
hiro4.mod RESOURCE "assets/hiro4.mod"
tiles1.png RESOURCE "assets/tiles1.png"
sections.tmx RESOURCE "assets/sections.tmx"
cats.png RESOURCE "assets/cats.png"
player.png RESOURCE "assets/player.png"
hurt1.wav RESOURCE "assets/hurt1.wav"
hurt2.wav RESOURCE "assets/hurt2.wav"
jump1.wav RESOURCE "assets/jump1.wav"
jump2.wav RESOURCE "assets/jump2.wav"
pickup1.wav RESOURCE "assets/pickup1.wav"
pickup2.wav RESOURCE "assets/pickup2.wav"
select.wav RESOURCE "assets/select.wav"
