palette.png RESOURCE "assets/palette.png"
NeoSans.png RESOURCE "assets/NeoSans.png"
sections.tmx RESOURCE "assets/sections.tmx"
hurt1.wav RESOURCE "assets/hurt1.wav"
hurt2.wav RESOURCE "assets/hurt2.wav"
jump1.wav RESOURCE "assets/jump1.wav"
jump2.wav RESOURCE "assets/jump2.wav"
crush.wav RESOURCE "assets/crush.wav"
pickup2.wav RESOURCE "assets/pickup2.wav"
select.wav RESOURCE "assets/select.wav"
Tileset.png RESOURCE "assets/Tileset.png"
dragon2.mod RESOURCE "assets/dragon2.mod"